body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(9, 9, 65);
}
.card{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
}
.card h2{
    margin-bottom: 20px;
}
.card input{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.card p{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}
.card button{
    padding: 10px;
    margin-top: 50px;
    border: solid 1px black;
    font-size: 20px;
}